{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="login">
        <div class="form-container">
            <p class="title">Login</p>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="">
                </div>
                <br>
                <button type="submit" class="sign">Sign in</button>
            </form>
            <p class="signup">Don't have an account?
                <a rel="noopener noreferrer" href="#" class="">Sign up</a>
                <br>
            <p class="msg">{{ msg }}</p>
            </p>

        </div>
    </div>
</body>

</html>